body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    height: 90%;
    overflow: hidden;
}

h1 {
    color: #333;
}

#weather-info {
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.weather-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #e0e0e0;
    overflow-x: auto;
    z-index: 1;
}

.weather-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-x: auto;
    border-radius: 5px;
}

.weather-header > .weather-row {
    background-color: inherit;
}

.weather-header div, .weather-row div {
    flex: 1;
    text-align: center;
    min-width: 100px;
}

.weather-header div:first-child, .weather-row div:first-child {
    flex: 2;
    text-align: center;
}

.temperature {
    font-size: 1em;
    color: #ff4500;
}

.precipitation {
    font-size: 1em;
    color: #1e90ff;
}
