body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    height: 90%;
    overflow: hidden;
}

h1 {
    color: #333;
}

#weather-info {
    width: 100%;
    overflow-x: auto;
    background-color: #f9f9f9;
    position: relative;
}

.weather-header,
.weather-row {
    display: flex;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    width: max-content; /* Ensure the container expands as needed */
}

.weather-header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
}

.weather-row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.weather-header div,
.weather-row div {
    flex: 1;
    text-align: center;
    min-width: 80px; /* Adjust the width as necessary */
    margin: 0 5px;
}

.weather-header div:first-child,
.weather-row div:first-child {
    flex: 2;
    text-align: center;
    min-width: 80px; /* Adjust width for the date column */
}

.weather-header div:nth-child(2),
.weather-row div:nth-child(2) {
    flex: 1.5;
    text-align: center;
    min-width: 80px; /* Adjust width for the day column */
}

.temperature {
    font-size: 1em;
    color: #8b4a48;
}

.precipitation {
    font-size: 1em;
    color: #4b8d64;
}

.temperature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.heatmap-hot {
    background-color: pink;
}

.heatmap-cold {
    background-color: lightblue;
}

.heatmap-mild {
    background-color: lightgreen;
}