body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    height: 90%;
    overflow: hidden;
}

h1 {
    color: #333;
}

#weather-info {
    width: 100%;
    overflow-x: auto;
    background-color: #f9f9f9;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.weather-header,
.weather-row {
    display: contents; /* Allows the children to be placed in the grid directly */
    background-color: #f9f9f9;
}

.weather-header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #ddd;
}

.weather-row {
    border-bottom: 1px solid #ddd;
}

.weather-header div,
.weather-row div {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.temperature {
    font-size: 1em;
    color: #8b4a48;
}

.precipitation {
    font-size: 1em;
    color: #4b8d64;
}

.temperature-container {
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 5px;
}

.heatmap-hot {
    background-color: pink;
}

.heatmap-cold {
    background-color: lightblue;
}

.heatmap-mild {
    background-color: lightgreen;
}
